/* Fontes externas */
@font-face {
  font-family: 'Catamaran';
  src: local('Catamaran Thin') url('fontes/Catamaran-Thin.ttf');
  font-weight: 100;
}

@font-face {
  font-family: 'Catamaran';
  src: local('CatamaranExtraLight') url('fontes/Catamaran-Thin.ttf');
  font-weight: 200;
}

@font-face {
  font-family: 'Catamaran';
  src: local('Catamaran Light') url('fontes/Catamaran-Light.ttf');
  font-weight: 300;
}

@font-face {
  font-family: 'Catamaran';
  src: local('Catamaran Regular') url('fontes/Catamaran-Regular.ttf');
  font-weight: 400;
}

/* Estilos gerais */

body {
  background: url('../img/bg-sky.svg') no-repeat center center fixed;
}

h2 {
  margin: 0 auto;
  text-align: center;
  font-size: 30px;
  line-height: 30px;
  letter-spacing: .1em;
  font-weight: 300;
}

h3 {
  margin: 0 auto;
  text-align: center;
  font-size: 20px;
  line-height: 20px;
  letter-spacing: .1em;
  font-weight: 300;
}

/* Home - Header */

.home {
  color: #fff;
  text-align: left;
  text-transform: uppercase;
  font-family: "Catamaran", Arial, Helvetica, sans-serif;
  font-size: 20px;
  font-weight: 300;
}

.home:hover {
  color: #1EDCF0;
}

.menu {
  border-radius: 10px 10px;
  max-width: 110px ;
  margin: 200px 0 250px 1220px;
  position: fixed;
  background: #fff;
}

.menu ul li {
  padding: 20px;
  margin: 0 auto;
  color: #000000;
  text-transform: uppercase;
  font-family: "Catamaran", Arial, Helvetica, sans-serif;
  font-size: 16px;
  font-weight: 100;
  text-align: center;
  display: block;
}

header ul li:hover {
  cursor: pointer;
}

.ativo {
  transition-duration: 0.4s;
  color: #fff;
  background: linear-gradient(to bottom,  #0c42f5 0%, #2bbef9 100%);
} 

p {
  color: #fff;
  font-family: "Catamaran", Arial, Helvetica, sans-serif;
  font-size: 16px;
  font-weight: 100;
  text-align: left;
  line-height: 20px;
}

.call {
  padding-top: 50px;
}

.call p {
  text-align: center;
}

.btn {
  display: block;
  padding: 10px 0;
  width: 150px;
  margin: 10px auto 0 auto;
  border-radius: 40px 40px;
  text-align: center;
  font-size: 20px;
  letter-spacing: .1em;
  font-family: 'Catamaran';
  text-transform: uppercase;
  color: #fff;
  font-weight: 100;
  background: linear-gradient(to right, #0c42f5 0%, #2bbef9 100%);
  clear: both;
}


.btn:hover {
  transition-duration: 0.2s;
  box-shadow: 0 0 0 3px #2bbef9;
  background: none;
}

/* Home - Introdução */
.introducao {
  padding-top: 100px;
}

.lua {
  padding-left: 60px;
}

.titulo {
  margin: 0 auto;
  margin-left: 10px;
  text-align: center;
  font-family: 'Catamaran';
  text-transform: uppercase;
  color: #fff;
}

h1 {
  padding-top: 90px;
  font-size: 40px;
  line-height: 40px;
  letter-spacing: .1em;
  font-weight: 400;
}

h2 {
  margin: 0 auto;
  text-align: center;
  font-size: 30px;
  line-height: 30px;
  letter-spacing: .1em;
  font-weight: 300;
}


/* Home - Perfil */
.perfil {
  margin: 0 auto;
  padding-top: 150px;
  font-family: 'Catamaran', Arial, Helvetica, sans-serif;
  color: #fff;
}

.foto_perfil {
  width: 200px;
  height: 200px;
  border-radius: 50%;
  overflow: hidden;
  margin: 43px 20px 0 100px;
}

.perfil ul {
  padding-top: 50px;
  margin-bottom: 0;
}

.perfil ul li {
  display: inline-block;
  text-transform: uppercase;
  padding: 20px 30px 20px 0;
  font-weight: 400;
}

/* Home - Principais Projetos */

.principais-projetos {
  padding-top: 150px;
}

.principais-projetos.titulo {
  font-family: 'Catamaran', Arial, Helvetica, sans-serif;
}

.cards-container {
  display: block;
  padding-top: 100px;
  text-align: center;
}

.card h3,
h4 {
  color: #000000;
}

.cards-container img {
  padding: 20px 75px;
  margin: 0 auto;
}

.card {
  background: #fff;
  max-width: 275px;
  border-radius: 15px 15px;
  margin: 0 22px;
}

.card:hover {
  cursor: pointer;
  transform: scale(1.1);
  transition-duration: 0.5s;
}

.cards-container h3 {
  margin: 10px auto;
  text-transform: uppercase;
}

.cards-container h4 {
  margin: 10px auto;
  text-transform: uppercase;
}

.cards-container p {
  padding: 10px;
  text-align: center;
  color: #000000;
  margin-bottom: 20px;
}

.btn-min {
  width: 100px;
  padding: 3px 0;
  margin: 15px auto;
  border-radius: 40px 40px;
  font-size: 16px;
}

.btn-projetos {
  margin-top: 430px;
}

/* Citação */

.quote {
  padding-top: 150px;
}

.quote q,
.quote cite {
  display: block;
  text-align: center;
  font-family: 'Catamaran', Arial, Helvetica, sans-serif;
  font-weight: 100;
  font-size: 30px;
  color: #1EDCF0;
}

.quote q {
  font-style: italic;
}

/* Footer */
.footer {
  padding: 40px 0;
  margin-top: 60px;
  background: linear-gradient(to bottom, #0c42f5 0%, #2bbef9 100%);
  color: #fff;
}

.footer h2 {
  margin-bottom: 20px;
  text-transform: uppercase;
  font-family: 'Catamaran', Arial, Helvetica, sans-serif;
  font-size: 20px;
  font-weight: 100;
  letter-spacing: .1em;
}

.footer ul {
  text-align: center;
  margin: 0 auto;
}

.footer li {
  text-align: center;
  font-family: 'Catamaran', Arial, Helvetica, sans-serif;
  font-size: 16px;
  font-weight: 100;
  letter-spacing: .1em;
}

.footer li:nth-child(1) {
  margin-bottom: 10px;
}

.footer li:nth-child(2) {
  display: inline-block;
}

.footer li:nth-child(3) {
  margin-left: 10px;
  display: inline-block;
}